<div id="ads-wrapper">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Bottom-banner -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-5557996925437916"
         data-ad-slot="8365766181"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>